body{
    text-align:center;
    background-color: #586f7c;
    font-family: 'Press Start 2P', cursive;
}
h1{
    color: rgba(0, 0, 255, 0.386);
    
}
img{
    border-radius: 90px;
}
#input-name{
    margin: 0 auto;
}
#hungerBar{
    width: 150px;
    height: 25px;
}
#energyBar{
    width: 150px;
    height: 25px;
}