body{
    text-align:center;
    background-color: #586f7c;
    font-family: 'Press Start 2P', cursive;
}
h1{
    color: rgba(0, 0, 255, 0.386);
    
}
img{
    border-radius: 90px;
}
#input-name{
    margin: 0 auto;
}
#hungerBar{
    position: relative;
    bottom: 125px; 
    left: 310px;
    width: 150px;
    height: 25px;
}
#energyBar{
    position: relative;
    bottom: 45px;
    left: 135px;
    width: 150px;
    height: 25px;
}
#strengthBar{
    position: relative;
    bottom: 85px;
    right: 25px;
    width: 150px;
    height: 25px;
}

#Eat{
    position: relative;
    top: 75px;
    left: 35px;
    height: 40px;
}
#Sleep{
    position: relative;
    top: 160px;
    right: 100px;
    height: 40px;
}